In [14]:
import pandas as pd
import numpy as np 
import datetime as dt

In [15]:
df = pd.DataFrame(pd.read_csv("Raw Sales Data.csv"))

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [36]:
pd.DataFrame(df.groupby("Category")["Qty"].sum())

                         Qty
Category
Functional nutrition   42354
Gourmet Nutrition      89279
Juices                178148

In [27]:
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month-Year
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,Dec-20
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,Dec-20
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,Dec-20
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100,Dec-20
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287,Dec-20
...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426,Mar-21
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830,Mar-21
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907,Mar-21
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043,Mar-21
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600,Mar-21

In [17]:
df["Qty"] = df["Qty"].str.replace(",","").astype(int)
df["Sales"] = df["Sales"].str.replace(",","").astype(int)
df['Month'] = pd.to_datetime(df["Month"])

# Requariment 1

# Monthwise number of quantities sold

In [18]:
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287
...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,165426
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,248830
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,140907
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242,436043
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,582600

In [19]:
df['Month-Year']= df['Month'].dt.strftime("%b-%y")

In [20]:
monthqty = pd.DataFrame(df.groupby("Month-Year")['Qty'].sum()).reset_index()
monthqty

  Month-Year    Qty
0     Dec-20  85427
1     Feb-21  76393
2     Jan-21  67732
3     Mar-21  80229

# Requirement 2

# Category wise Qty sold

In [21]:
Category = pd.DataFrame(df.groupby("Category")["Qty"].sum()).reset_index()
Category

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

# Requirement 3

# Sub-channel wise total sales

In [22]:
Sub_channel = pd.DataFrame(df.groupby("Sub-Channels")["Sales"].sum()).reset_index()
Sub_channel

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

# Requirement 4

# Highest sale in which month

In [23]:
monthly_sales = pd.DataFrame(df.groupby('Month-Year')["Sales"].sum()).reset_index()

monthly_sales.sort_values("Sales",ascending=False).head(1)

  Month-Year     Sales
3     Mar-21  25127827

# Requirement 5

# Highest selling product (based on sales)

In [24]:
prdinfo = df.copy()
prdinfo["Product Name"]= prdinfo["Product Name"].str.replace('\d+', '---').str.split("---").str[0]


product_sales = pd.DataFrame(prdinfo.groupby("Product Name")["Sales"].sum()).reset_index()
product_sales.sort_values("Sales",ascending=False).head(1)

C:\Users\Murtaza G\AppData\Local\Temp\ipykernel_22956\1813059370.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  prdinfo["Product Name"]= prdinfo["Product Name"].str.replace('\d+', '---').str.split("---").str[0]

             Product Name     Sales
1  ALOE + GARCINIA JUICE   12249252

# Requirement 6

# List of different products company is offering

In [26]:
prd_comp = prdinfo.drop("Sales",axis=1)
prd_comp.sort_values("Product Name",ascending=False)

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Month-Year
123,2021-02-01,Marketplace,AMAZON,WHEAT GRASS JUICE,Juices,2082,Feb-21
214,2021-03-01,Marketplace,AMAZON,WHEAT GRASS JUICE,Juices,2283,Mar-21
76,2021-01-01,Marketplace,AMAZON,WHEAT GRASS JUICE,Juices,1823,Jan-21
180,2021-03-01,Offline,Offline - MT,WHEAT GRASS JUICE,Juices,552,Mar-21
173,2021-03-01,D2C,D2C,WHEAT GRASS JUICE,Juices,684,Mar-21
...,...,...,...,...,...,...,...
56,2021-01-01,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1224,Jan-21
215,2021-03-01,Marketplace,Big Basket,ALOE + AMLA JUICE,Juices,615,Mar-21
108,2021-02-01,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1049,Feb-21
199,2021-03-01,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1059,Mar-21
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1116,Dec-20

In [ ]:
prd_comp.describe()

In [ ]:
prd_comp['Product Name'].nunique()

# Requirement 7
# save all the data in the excle file

In [ ]:
writer = pd.ExcelWriter("C:\\Users\\Murtaza G\\Desktop\\Murtaza (python 1st)\\Data Sets\\FMCG\\FMCG Excel.xlsx")

monthqty.to_excel(writer,sheet_name = "Monthaly Sales",index=False)

Category.to_excel(writer,sheet_name = "Catagory Wise Qty Sold",index=False)

Sub_channel.to_excel(writer,sheet_name = "Sub-Channel wise sales",index=False)

monthly_sales.to_excel(writer,sheet_name = "Monthly Sales",index=False)

product_sales.to_excel(writer,sheet_name = "Product wise Sales",index=False)

prd_comp.to_excel(writer,sheet_name = "Company Names",index=False)


writer.save()